{% extends 'core/base.html'%}
{% block content %}
<div class="container mt-5 px-5">
  <h1 class="pb-1 mt-5  border-bottom  title">Services</h1>
   <div class="row text-center text-white mb-5">
     <a href="{% ulr 'home' %}">
     <div class="extra-div col-sm-3 mt-5">
        <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 icon-color"></i>
        <h2>SEO</h2>
        <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div></a>

     <div class="extra-div col-sm-3 mt-5">
       <i class="fa-solid fa-palette fa-2x mb-3 icon-color"></i>
       <h2>Web Design</h2>
       <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>

     <div class="extra-div col-sm-3 mt-5">
       <i class="fa-solid fa-code fa-2x mb-3 icon-color"></i>
       <h2>Web Development</h2>
       <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>
     
  </div>


   <div class="row text-center text-white mb-5">
     <div class="extra-div col-sm-3 mt-5">
    <i class="fa-brands fa-android fa-2x mb-3 icon-color"></i>
    <h2>Android</h2>
    <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>
     <div class="extra-div col-sm-3 mt-5">
       <i class="fab fa-apple fa-2x mb-3 icon-color"></i>
       <h2>iOS</h2>
       <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>
     <div class="extra-div col-sm-3 mt-5">
       <i class="fa-solid fa-ad fa-2x mb-3 icon-color"></i>
       <h2>Advertisement</h2>
       <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>
   </div>



  <div class="row text-center text-white mb-5">
     <div class="extra-div col-sm-3 mt-5">
    <i class="fa-solid fa-pencil fa-2x mb-3 icon-color"></i>
    <h2>Logo Design</h2>
    <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>
     <div class="extra-div col-sm-3 mt-5">
       <i class="fa-solid fa-database fa-2x mb-3 icon-color"></i>
       <h2>Hosting</h2>
       <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>
     <div class="extra-div col-sm-3 mt-5">
       <i class="fa-solid fa-headset fa-2x mb-3 icon-color"></i>
       <h2>Support</h2>
       <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
     </div>

   </div>
</div>


{% endblock content %}
